body, html {
  margin: 0;
  padding: 0;
}

.menu-modal,
.pause-modal,
.gameover-modal {
  background: rgba(40, 26, 111, 0.69);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.menu,
.pause-menu,
.gameover-menu {
  position: fixed;
  top: 10%;
  left: 25%;
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(180, 180, 180, 0.7);
  border-radius: 10px;
}

.hidden {
  display: none;
}
