body, html, button, ul, li, input, p {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  color: rgba(1, 108, 21, 0.7);
}

#name {
  font-family: "Dancing Script", sans-serif;
  font-size: 48px;
}

button {
  padding: 5px 10px;
  border-radius: 10px;
  margin: 20px;
  font-size: 20px;
  color: rgba(11, 65, 224, 0.85);
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

button:active {
  transform: scale(1);
}

.mute {
  color: rgba(11, 65, 224, 0.85);
  font-size: 30px;
  margin: 20px;
}

.mute:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.mute:active {
  transform: scale(1);
}

.menu-modal,
.pause-modal,
.gameover-modal,
.stats-modal {
  background: rgba(187, 187, 187, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.menu,
.pause-menu,
.gameover-menu,
.stats-page {
  position: fixed;
  top: 25%;
  left: 37.5%;
  height: 50%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(230, 230, 230, 0.1);
  border-radius: 20px;
}

.game-over-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.game-over-buttons button {
  margin: 0;
}

.stats-data,
.game-stats,
.player-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.stats-data {
  flex: 2;
}

h1 {
  margin-bottom: 50px;
}

h2 {
  margin: 5px;
}

h3 {
  border-bottom: 1px solid rgba(1, 108, 21, 0.7);
  margin-bottom: 5px;
}

h4 {
  margin: 0;
}

.stats-page,
.gameover-menu {
  justify-content: space-around;
}

.stats-title,
.game-over-title {
  margin-bottom: 10px;
}

#stats-info {
  width: 60%;
  flex: 2;
}

#stats-info li {
  display: flex;
  justify-content: space-between;
}

input {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.25);
  border: none;
  padding: 5px;
}

#name-input {
  font-size: 16px;
  text-align: center;
}

.submit {
  margin-top: 5px;
  padding: 5px 20px;
  border-radius: 10px;
  font-size: 16px;
  color: rgba(11, 65, 224, 0.85);
  background: none;
  border: none;
}

.submit:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.submit:active {
  transform: scale(1);
}

.hidden {
  display: none;
}
