body, html, button, ul, li, input, p {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  color: rgba(1, 108, 21, 0.7);
}

.how-to-page p {
  text-align: center;
}

#name {
  font-family: "Dancing Script", sans-serif;
  font-size: 48px;
}

button {
  padding: 5px 10px;
  border-radius: 10px;
  margin: 20px;
  font-size: 20px;
  color: rgba(11, 65, 224, 0.85);
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

button:active {
  transform: scale(1);
}

.mute {
  color: rgba(11, 65, 224, 0.85);
  font-size: 30px;
  margin: 20px;
}

.mute:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.mute:active {
  transform: scale(1);
}

.menu-modal,
.pause-modal,
.gameover-modal,
.stats-modal,
.how-to-modal {
  background: rgba(187, 187, 187, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.menu,
.pause-menu,
.gameover-menu,
.stats-page,
.how-to-page {
  position: fixed;
  top: 25%;
  left: 37.5%;
  height: 50%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(230, 230, 230, 0.1);
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.circle-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 10px;
}

.circle-type:last-of-type {
  padding-bottom: 0;
}

.how-to-page h1 {
  margin-top: 0;
}

.how-to-page button {
  margin: 0;
}

img {
  height: 40px;
  width: 40px;
}

.game-over-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.game-over-buttons button {
  margin: 0;
}

.stats-data,
.game-stats,
.player-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.stats-data {
  flex: 2;
}

h1 {
  margin-bottom: 50px;
}

h2 {
  margin: 5px;
}

h3 {

  border-bottom: 1px solid rgba(1, 108, 21, 0.7);
  margin: 0;
}

h4 {
  margin: 0;
}

.stats-page,
.gameover-menu {
  justify-content: space-around;
}

.title {
  margin-bottom: 10px;
}

#stats-info {
  width: 65%;
  flex: 2;
}

#stats-info li {
  display: flex;
  justify-content: space-between;
}

input {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.25);
  border: none;
  padding: 5px;
}

#name-input {
  font-size: 16px;
  text-align: center;
}

.submit {
  margin-top: 5px;
  padding: 5px 20px;
  border-radius: 10px;
  font-size: 16px;
  color: rgba(11, 65, 224, 0.85);
  background: none;
  border: none;
}

.submit:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.submit:active {
  transform: scale(1);
}

.rank {
  text-align: right;
  box-sizing: border-box;
  width: 20px;
}

.high-score-name {
  padding-left: 5px;
  flex: 2;
}

span {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.pp {
 color: rgb(174, 255, 1);
}

.ps {
  color: rgb(1, 255, 83);
}

.ns {
  color: rgb(210, 34, 35);
}

.np {
  color: rgb(147, 1, 2);
}

.hidden {
  display: none;
}
